.header{
    background-color: #ff7900;
}
.country{
    align-content: center;
}
.call{
    align-self: center;
}
.search_header{
    align-content: center;
}
.search_header input{
    border: none;
    border-radius: 5px;
    color: black;
}
.main_header{
    justify-content: end;
}
.hero{
    background-color: #e9eff7;
    height: 500px;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.welcome{
    align-self: center;
}
.welcome, h1, p{
    color: #445869;
}
.welcome h1{
    font-size: 40px;
    font-weight: 700;
}
.welcome p{
    font-size: 24px;
    font-weight: 500;
}
.account{
    color: #ff7900;
}
.why-us{
    background-color: #0275d8;
}
.join{
    background-image: url(https://www.bulksms.com/images/call-to-action111.png);
    background-color: #0275d8;
    color: white;
    height: 300px;
    align-content: center;
}
.join button{
    background-color: #ff7900;
    color: #e9eff7;

}
.short_liks{
    list-style: none;
}
.short_liks li{
padding-left: 20px;
}
ul{
    list-style: none;
    
}
ul li a{
    color: rgb(0, 85, 243);
    text-decoration: none;
    font-size: 18px;
}
.filter{
    filter: grayscale(100%);
  transition: .5s
}
.filter:hover{
    filter: grayscale(0%);
  transition: .5s
}